#contact {
  background: #f8f9fa;
  margin-top: 3rem;
}

.contact-left-area {
  background: #09aba9;
  color: #fff;
}

.single-cl {
  padding: 30px 50px;
  padding-right: 0;
}

.s-cl-2 {
  background: #002249;
}

.single-cl h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #fff;
}

.single-cl p {
  font-size: 14px;
}

.single-cl i.fa {
  margin-right: 10px;
  font-size: 16px;
}

.contact-form .section-head h3 {
  margin-bottom: 19px;
  font-size: 3.7rem;
  color: #002249;
}

.contact-form .form-group {
  border: 1px solid #cccccc;
  margin-bottom: 30px;
}

.contact-form .form-control {
  display: block;
  border: 0px;
  width: 100%;
  height: 45px;
  padding: 0px 10px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #888;
  background-color: #fff;
  background-image: none;
  border-radius: 0px;
  box-shadow: none;
}

.contact-form #message {
  padding-top: 10px;
  height: 195px;
}
