/* @import "../Banner/img/banner-bg.jpg"; */

.banner-bg {
  background-image: url(../Banner/img/banner-bg.jpg);
  padding: 80px 0;
  background-color: #f5faff;
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.div-area {
  margin-top: 12rem;
}

.banner-h1 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.1;
  color: #002249;
}

/* button  */
.button {
  border-radius: 4px;
  background-color: #214d72;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1.8rem;
  padding: 10px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* responsive for mobile  */
@media screen and (max-width: 400px) {
  .banner-h1 {
    font-size: 4.5rem;
    color: #002249;
  }
  .div-area {
    margin-top: 0rem;
  }
}
