.user-review-form {
  margin-left: 26rem;
}

.user-review-form button {
  margin-left: -27rem;
}

/* responsive for mobile  */
@media screen and (max-width: 400px) {
  .user-review-form {
    margin-left: -1rem;
  }

  .user-review-form button {
    margin-left: 2rem;
  }
}
